@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 100%;
    padding: 22px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: black;
}
.logo{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    color: #f7a828;
    align-items: center;
}
.navs a{
    color: #dcdcdc;
    margin: 0 18px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}
.navs a:hover{
    color: #f7a828;
}
.header-icons a{
margin-left: 18px;
font-size: 18px;
color: #f7a828;
text-decoration: none;
transition: 0.3s;
}
.header-icons a:hover{
    color: #dcdcdc;
}
.hero{
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpeg) no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 7, 10, 0.75);
}
.hero-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin-left: 660px;
    margin-right: 660px;
}
.hero-content h1{
    font-family: "Playfair Display", serif;
    font-size: 96px;
    line-height: 1.1;
    font-weight: 700;
}
.crafted-for{
    color: #dcdcdc;
}
.Perfection{
    color: #f7a828;
}
.hero-content p{
    margin-top: 20px;
    font-size: 22px;
    color: #bfc0c3;
    margin-top: 32px;
}
.hero-buttons{
    margin-top: 40px;
    display: flex;
    gap: 18px;
    justify-content: center;


}
.primary-btn{
    background-color: #f7a828;
    color: black;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    padding: 12px 28px;
    font-size: 18px;
    border: 0;

}
.secondary-btn{
    background-color: transparent;
    color: white;
    border: 1px solid #f7a828;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    padding: 12px 28px;
    font-size: 18px;
}
